.container{
    padding: 1rem;
}

.barraNavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.barraNavegacion img{
    width: 150px;
    max-width: 100%;
    margin-left: 1rem;
}

.icono-casa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--gris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--celeste);
    margin-right: 1rem;
}

.icono-casa i{
    font-size: 15px;
    color: #212529;
}

.icono-off{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--gris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--celeste);
}

.icono-off i{
    font-size: 15px;
}

.franja2{
    width: 1920px;
    max-width: 100%;
    max-height: 80%;
    margin: 0;
    border-bottom: 5px solid var(--celeste);
}

#botonesPaciente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0.5rem;
}

.b-paciente a{
    background-color: var(--naranja);
    padding: 0.5rem;
    text-decoration: none;
    color: var(--blanco);
    border-radius: 5px;
    font-size: 10px;
}

.b-paciente i{
    margin-left: 0.5rem;
}



.b-buscar a{
    background-color: var(--azul-oscuro);
    text-decoration: none;
    color: var(--blanco);
    border: 2px solid var(--celeste);
    border-radius: 5px;
    padding: 0.4rem;
}

.b-buscar i{
    font-size: 15px;
}


.b-buscar input{
    border: 2px solid var(--celeste);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 12px;
}

.b-editar{
    background-color: var(--celeste);
    height: 30px;
    padding: 0 0.5rem;
    border-style: none;
    border-radius: 5px;
}

.b-eliminar{
    background-color: var(--rojo);
    color: var(--blanco);
    height: 30px;
    padding: 0 0.5rem;
    border-style: none;
    border-radius: 5px;
}

.b-eliminar i{
    margin-left: 0.3rem;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.p-container{
    margin: auto;
    display: table;
}


.p-titulo{
    font-size: 30px;
    font-weight: lighter;
    color: var(--azul-oscuro);
    text-decoration: underline;
    float: left;
    position: relative;
}

.p-titulo span{
    position: absolute;
    right: 0;
    width: 0;
    background: var(--blanco);
    border-left: 1px solid black;
    animation: maquina 5s infinite alternate steps(10);
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


.table tr{
    background-color: rgb(211, 211, 211);

}

.table th, .table td{
    font-size: 16px;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid darkcyan;

}

.table thead th{
    background-color: var(--azul-oscuro);
    color: white;
    text-align: center;
}


.table caption{
    font-size: 25px;
}

.table thead{
    display: none;
}

.table tr{
    display: block;
    margin-bottom: 1rem;
}

.table td{
    display: block;
    text-align: right;
}

.table td::before{
    content: attr(data-titulo);
    font-weight: bold;
    float: left;
}

.iconos{
    display: flex;
    margin: 0 1rem;
}
