@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --red-color:#A40101;
    --acuamarine-color:rgb(44, 162, 170);
    --silver-color:#ac9e9e;
    --silver2-color:#d3d3d3;
    --silver3-color:#6d6d6d;
    --white-color:#FFFFFF;
    --orange-color:#F3610E;
    --orange2-color:#c45414;
    --blue-color:#1D1B45;
    --blue2-color:#2b6c8a;
    --blue3-color: #32a6bb;
    --blue4-color:#050c25;
    --black-color:#000000;
}


.encabezado{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    
}

.iconos-encabezado{
    margin-top: 10px;
    display: flex;
    flex-direction: row;  
    text-align: center; 
}

.iconos_items{
    display: flex;
    padding: 5px;

}

.iconos_items i{
    color: var(--white-color);
    background-color:var(--orange2-color);
    padding: 1px 1px;
    border-radius: 50%;
    border: 4px solid var(--orange2-color);
    box-shadow: 2px 2px 4px var(--black-color);
    font-size: 7px;
    margin-right: 10px;
}

.iconos_items{
    font-size: 10px;
    color: var(--silver3-color);
   
}

.iconos_items_2{
    display: flex;
    padding: 5px;
}

.iconos_items_2 i{
    color: var(--white-color);
    background-color:var(--orange2-color);
    padding: 1px 1px;
    border-radius: 50%;
    border: 4px solid var(--orange2-color);
    box-shadow: 2px 2px 4px var(--black-color);
    font-size: 7px;
    margin-right: 10px;
}

.iconos_items_2 p{
    font-size: 10px;
    color: var(--silver3-color);
   
}

.head2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.logo{
    max-width: 100%;
    display: flex;
    align-content: center;
    
}

.logo img{
    width: 120px;
    height: 40px;
}    
    

.line{
   width: 100%;
}

.line img{
    width: 90%;
    margin-left: 2rem;
    margin-bottom: 10px;
}

.head2 i{
    color:var(--orange2-color);
    font-size: 20px;
    padding: 7px;
    padding-bottom: 20px;
    
}
.botones{
    align-items: center;
     
}

.bot-1{
    font-size: 12px;
    background-color: var(--blue2-color);
    border-radius: 35px; 
    border: 3px solid var(--blue2-color);
    font-weight: bold;
    color: var(--white-color);
    cursor: pointer;
    height: 29px;
    width: 120px;
    margin-top: 15px;

}

.bot-1:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);
    animation: 3s bot-1 1;
}


@keyframes bot-1{
    25%, 75%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.1);
    }
}


#banner{
    display: flex;
    flex-direction: column;
    background-image: url(../img/2.\ medico.png);
    background-position: 80%;
    height: 280px;
    background-size: cover;
}

.franja-index{
    width: 100%;
    height: 100%;
}

.franja-inicio{
    width: 100%;
    height: 200%;

}

.txt-banner{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 25%;
    margin-left: 5%;
}

.txt-banner h3{
    font-size: 25px;
    font-weight: 500;
    color: var(--orange-color);
}

.txt-banner h4{
    font-size: 30px;
    font-weight: 300;
    color: var(--blue4-color);
}

   
#contain{
    background-image: url(../img/4.\ covid.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat, repeat;    
    background-size: 1800px ;
    height: 28.5rem;
    display: flex;
    flex-direction: column;
    margin-top: -4.5px;

}

.signos{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.signos i{
    color: var(--red-color);
    padding: 8px;
    font-size: 15px;
}

.signos ul{
    list-style: none;
    margin-left: 20px;
}

.signos h2{
    color: var(--blue2-color);
    font-weight: 500;
    font-size: 15px;
}

.signos li{
    font-size: 10px;
    font-weight: 500;
    line-height: 3px;
}


.signos-2{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
}

.signos-2 img{
    display: flex;
    justify-content: center;
    width: 120px;
    margin-left: 55px;
}

.signos-2 i{
    color: var(--red-color);
    font-size: 15px;
    margin-right: 10px;
}

.signos-2 h2{
    color: var(--blue2-color);
    margin-top: -50px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 10px;
}
.signos-2 p{
    font-weight: 500;
    font-size: 10px;
    text-align: justify;
}

.signos-2 a{
    font-size: 12px;
}
#services {
    background-color: #08071a;
    padding: 0.1rem;
    
}

#services p{
    padding: 0.6rem 0;
    padding-left: 0.5rem;
    border-bottom: 10px solid var(--white-color);
    color: var(--white-color);
    font-size: 10px;
    
}

footer{
    background-color: black;
    padding: 1rem;
    text-align: center;
}

footer p{
    color: var(--white-color);
    text-align: center;
    font-size: 12px;
}


@media screen and (min-width: 768px){

    .iconos_items{
        display: flex;
        padding: 5px;
        margin-right: 20px;
    
    }
    
    .iconos_items i{
        color: var(--white-color);
        background-color:var(--orange2-color);
        padding: 1px 1px;
        border-radius: 50%;
        border: 4px solid var(--orange2-color);
        box-shadow: 2px 2px 4px var(--black-color);
        font-size: 7px;
        margin-right: 10px;
    }
    
    .iconos_items p{
        font-size: 13px;
        color: var(--silver3-color);
       
    }
    
    .iconos_items_2{
        display: flex;
        padding: 5px;
    }
    
    .iconos_items_2 i{
        color: var(--white-color);
        background-color:var(--orange2-color);
        padding: 1px 1px;
        border-radius: 50%;
        border: 4px solid var(--orange2-color);
        box-shadow: 2px 2px 4px var(--black-color);
        font-size: 7px;
        margin-right: 10px;
    }
    
    .iconos_items_2 p{
        font-size: 13px;
        color: var(--silver3-color);
       
    }
    
    .head2{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .logo{
        max-width: 100%;
        display: flex;
        align-content: center;
        
    }
    
    .logo img{
        width: 200px;
        height: 55px;
    }      
    
    .line img{
        width: 90%;
        margin-left: 4.8rem;
        margin-bottom: 10px;
    }
    
    .head2 i{
        color:var(--orange2-color);
        font-size: 25px;
        padding: 7px;
        padding-bottom: 20px;
        
    }
    .botones{
        align-items: center;
         
    }
    
    
    #banner{
        display: flex;
        flex-direction: row;
        background-image: url(../img/2.\ medico.png);
        background-position: 90%;
        height: 380px;
        background-size: cover;
    }
  
    
    .txt-banner{
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        text-align: left;
        
    }
    
    .txt-banner h3{
        font-size: 40px;
        font-weight: 500;
        color: var(--orange-color);
    }
    
    .txt-banner h4{
        font-size: 35px;
        font-weight: 300;
        color: var(--blue4-color);
    }
    
       
    #contain{
        background-image: url(../img/4.\ covid.jpeg);
        background-position: center;
        background-repeat: no-repeat;   
        background-size: 800px ; 
        height: 34rem;
        display: flex;
        flex-direction: column;
    
        
    }
    
    .signos{
        flex-basis: 50%;
        padding-bottom: 2rem;
        background-color: rgba(255, 255, 255, 0.8);

    }
    
    .signos i{
        color: var(--red-color);
        padding: 7px;
        font-size: 20px;
    }
    
    .signos ul{
        list-style: none;
        margin-left: 60px;
    }
    
    .signos h2{
        font-size: 16px;
        text-align: center;
        color: var(--blue2-color);
        font-weight: 500;
    }
    
    .signos li{
        text-align: justify;
        margin-left: 10rem;
        font-size: 14px;
        font-weight: 400;
    }
     
    .signos-2{
        flex-basis: 50%;
        padding: 2rem;
    
    }
    
    .signos-2 img{
        width: 150px;
        margin-left: 15rem;
    }

    .signos-2 a{
        margin-left: 13rem;
    }
    
    .signos-2 i{
        color: var(--red-color);
        font-size: 20px;
        
    }
    
    .signos-2 h2{
        text-align: justify;

        font-size: 16px;
        color: var(--blue2-color);
        font-weight: 500;
    }
    .signos-2 p{
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
    } 

    #services {
        background-color: #08071a;
        padding: 0.1rem;
        margin-bottom: 1rem;
        
    }
    
    #services p{
        font-size: 14px;
    }
    
    footer{
        background-color: black;
        padding: 1.5rem;
        text-align: center;
    }
    
    footer p{
        color: var(--white-color);
        text-align: center;
        font-size: 12px;
    }

}

@media screen and (min-width: 1024px){

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: flex-end
         
}

.iconos-encabezado{
    margin-top: 25px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;  
    text-align: center; 
    margin-right: 20px;
}

.iconos_items{
    display: flex;
    padding: 5px;

}

.iconos_items i{
    color: var(--white-color);
    background-color:var(--orange2-color);
    padding: 3px 3px;
    border-radius: 50%;
    border: 4px solid var(--orange2-color);
    box-shadow: 2px 2px 4px var(--black-color);
    font-size: 8px;
    margin-right: 10px;
}

.iconos_items p{
    font-size: 18px;
    color: var(--silver3-color);
   
}

.iconos_items_2{
    display: flex;
    padding: 5px;
}

.iconos_items_2 i{
    color: var(--white-color);
    background-color:var(--orange2-color);
    padding: 3px 3px;
    border-radius: 50%;
    border: 4px solid var(--orange2-color);
    box-shadow: 2px 2px 4px var(--black-color);
    font-size: 8px;
    margin-right: 10px;
}

.iconos_items_2 p{
    font-size: 18px;
    color: var(--silver3-color);
   
}

.head2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo{
    width: 100%;
    margin-left: 30px;
}


.logo img{
    max-width: 100%;
    width: 300px;
    height: 80px;
}    
    

.line{
    width: 150%;

}

.line img{
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;

}

.head2 i{
    color:var(--orange2-color);
    font-size: 35px;
    padding: 7px;
    padding-bottom: 20px;
    
}
.botones{
    align-items: center;
     
}

.bot-1{
    font-size: 14px;
    background-color: var(--blue2-color);
    border-radius: 35px; 
    border: 3px solid var(--blue2-color);
    font-weight: bold;
    color: var(--white-color);
    cursor: pointer;
    height: 30px;
    width: 140px;
    margin-top: 15px;
    margin-right: 20px;
}

.bot-1:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);

}

    
    #banner{
        display: flex;
        flex-direction: row;
        background-image: url(../img/2.\ medico.png);
        background-position: 95%;
        height: 440px;
        background-size: cover;
    }

    .txt-banner{
        display: flex;
        flex-direction: column;
        margin-bottom: 8rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
    
    .txt-banner h3{
        font-size: 55px;
        font-weight: 400;
        color: var(--orange-color);
    }
    
    .txt-banner h4{
        font-size: 45px;
        font-weight: 300;
        color: var(--blue4-color);
    }

    .bot-1{
        justify-content: center;
    }
    
       
    #contain{
        background-image: url(../img/4.\ covid.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;    
        height: 420px;
        display: flex;
        flex-direction: row;
        

    }
    
    .signos{
        flex-basis: 50%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    .signos i{
        color: var(--red-color);
        padding: 8px;
        font-size: 25px;
    }
    
    .signos ul{
        list-style: none;
    }
    
    .signos h2{
        font-size: 23px;
        color: var(--blue2-color);
        font-weight: 500;
    }
    
    .signos li{
        font-size: 20px;
        text-align: justify;
        font-weight: 400;
        margin-left: -40px;
    }
    
    
    .signos-2{
        flex-basis: 50%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    .signos-2 img{
        margin-top: -23px;
        width: 150px;
    }
    
    .signos-2 i{
        color: var(--red-color);
        font-size: 25px;
    
    }
    
    .signos-2 h2{
        margin-top: 10px;
        font-size: 25px;
        color: var(--blue2-color);
        font-weight: 500;
    }
    .signos-2 p{
        font-size: 20px;
        padding: 30px;
        text-align: justify;
        line-height: 25px;
    }
    
    #services {
        background-color: #08071a;
        padding: 0.1rem;
        margin-bottom: 1rem;
        
    }
    
    #services p{
        padding: 1rem 0;
        padding-left: 0.5rem;
        border-bottom: 10px solid var(--white-color);
        color: var(--white-color);
        font-size: 16px;
        
    }
}   

@media screen and (min-width: 1200px){

    .iconos-encabezado{
        margin-right: 6rem;
        margin-top: 20px;
         display: flex;
        flex-direction: row;  
        text-align: center; 
    }
    
    
    .iconos_items p{
        font-size: 19px;
        color: var(--silver3-color);
       
    }
    
    .iconos_items_2 p{
        font-size: 19px;
        color: var(--silver3-color);
       
    }
    
    .bot-1{
        font-size: 14px;
        background-color: var(--blue2-color);
        border-radius: 35px; 
        border: 3px solid var(--blue2-color);
        font-weight: bold;
        color: var(--white-color);
        cursor: pointer;
        height: 35px;
        width: 200px;
        margin-top: 15px;
        margin-right: 20px;
    }
    
    .bot-1:hover{
        color: var(--white-color);
        background-color:var(--orange2-color);
    }

}

/*------------Login--------------*/

#login{
    background-image: url(../img/10.png);
    background-position: center;
    background-size: cover;
}

#login-inicio{
    margin: 5rem auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-login{
    padding: 2rem;
    width: 310px;
    text-align: center;
    display: flexbox;
    flex-direction: column;
    background-color: rgb(78, 206, 223);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.box-login img{
    width: 200px;
}

.box-login h3{
    font-size: 16px;
    font-weight: 600;

}

.acceso img{
    width: 220px;
    margin-bottom: 2rem;
}

.acceso{ 
    align-items: center;  
    background-color: var(--white-color);
    width: 310px;
    box-shadow: 1px 1px 2px var(--black-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.form-group{
    margin-bottom: 5px;
    width: 400px;
    text-align: center;  
}

.form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    margin-right: 6rem;
    font-size: 15px;
  
}

.form-input{
    border: 2px solid rgba(44, 162, 170, 0.2);
    padding: 0.3rem;
    outline: none;
    border-radius: 15px;
    background-color: rgba(44, 162, 170, 0.1);
    margin-top: 5px;
    margin-right: 6rem;
    width: 180px;
}

.form-olvido{
    align-items: center;
    margin-right: 5.7rem;
    color: var(--blue-color);
    font-size: 0.9rem;
}

.form-input:focus{
    border: 3px solid var(--acuamarine-color);
}

.form-input::placeholder{
    font-size: 0.8rem;
}

.but-1{
    background-color:var(--blue-color);
    color: var(--white-color);
    padding: 0.5rem;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border-color: var(--acuamarine-color);
    cursor: pointer;
    margin-bottom: 10px;  
}

.but-1:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);
    animation: 3s but-1 1;
}


@keyframes but-1{
    25%, 75%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.1);
    }
}


.but-2{
    background-color:var(--orange2-color);
    color: var(--white-color);
    padding: 0.3rem;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 8px;
    border-color: var(--acuamarine-color);
    cursor: pointer;
    margin: 15px;
    position: relative; right: 3rem;

}

.but-2:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);
    animation: 3s but-2 1;
}


@keyframes but-2{
    25%, 75%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.1);
    }
}



@media screen and (min-width: 768px){

.box-login{
    padding: 2rem;
    width: 320px;
    text-align: center;
    display: flexbox;
    flex-direction: column;
    background-color: rgb(78, 206, 223);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.box-login img{
    width: 200px;
}

.box-login h3{
    font-size: 16px;
    font-weight: 600;

}

.acceso img{
    width: 220px;
    margin-bottom: 2rem;
}

.acceso{ 
    align-items: center;  
    background-color: var(--white-color);
    width: 320px;
    box-shadow: 1px 1px 2px var(--black-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
    
    .form-label{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 10px;
        margin-right: 5rem;
        font-size: 15px;
      
    }
    
    .form-input{
        border: 2px solid rgba(44, 162, 170, 0.2);
        padding: 0.3rem;
        outline: none;
        border-radius: 15px;
        background-color: rgba(44, 162, 170, 0.1);
        margin-top: 5px;
        margin-right: 4rem;
    }

    .but-1{
        
        position: relative; left: 6rem;
    }

   

}


@media screen and (min-width: 1024px){


    .box-login{
        padding: 2rem;
        width: 330px;
        text-align: center;
        display: flexbox;
        flex-direction: column;
        background-color: rgb(78, 206, 223);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .box-login img{
        width: 200px;
    }
    
    .box-login h3{
        font-size: 16px;
        font-weight: 600;
    
    }
    
    .acceso img{
        width: 220px;
        margin-bottom: 2rem;
    }
    
.acceso{ 
    align-items: center;  
    background-color: var(--white-color);
    width: 330px;
    box-shadow: 1px 1px 2px var(--black-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
        
    }
        
.form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    margin-right: 5rem;
    font-size: 15px;
          
        }
        
.form-input{
    border: 2px solid rgba(44, 162, 170, 0.2);
    padding: 0.3rem;
    outline: none;
    border-radius: 15px;
    background-color: rgba(44, 162, 170, 0.1);
    margin-top: 5px;
    margin-right: 4rem;
}
    
.but-1{
            
    position: relative; left: 6rem;
}
}

@media screen and (min-width: 1200px){

    .box-login{
        padding: 2rem;
        width: 350px;
        text-align: center;
        display: flexbox;
        flex-direction: column;
        background-color: rgb(78, 206, 223);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .box-login img{
        width: 200px;
    }
    
    .box-login h3{
        font-size: 16px;
        font-weight: 600;
    
    }
    
    .acceso img{
        width: 220px;
        margin-bottom: 2rem;
    }
    
    .acceso{ 
        align-items: center;  
        background-color: var(--white-color);
        width: 350px;
        box-shadow: 1px 1px 2px var(--black-color);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        
    }
        
    .form-label{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            justify-content: center;
            text-align: center;
            margin-top: 10px;
            margin-right: 5rem;
            font-size: 15px;
          
        }
        
     .form-input{
            border: 2px solid rgba(44, 162, 170, 0.2);
            padding: 0.3rem;
            outline: none;
            border-radius: 15px;
            background-color: rgba(44, 162, 170, 0.1);
            margin-top: 5px;
            margin-right: 4rem;
    }
    
        .but-1{
            
            position: relative; left: 6rem;
        }

        .but-2{
            
            position: relative; right: 30px;
        
        }    

}


/*---------------Dashboard----------------*/

#dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.863);   
}

.box{
    background-color: var(--blue4-color);
    height: 20rem;
}

.logo2 img{
    width: 100%;
    max-width: 210px;
    display: flex;
    margin: 0.5rem auto;
    margin-top: 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.btn-dash{
    width: 300px;
    height: 50px;
    margin-top: 15px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid var(--orange2-color);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    background-color: #cfcfcf;
}

.btn-dash i{
    color:var(--blue-color);
    font-size: 16px;  
}

.btn-dash:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);
    cursor: pointer;
    animation: 1s btn-dash 1;
    transform-origin: top center;
    }   
        

@keyframes btn-dash{
    20%{
        transform: rotate(15deg);
}
        
    40%{
    transform: rotate(-10deg);
    }
        
    60%{
    transform: rotate(5deg);
 }
    80%{
transform: rotate(3deg);
}
        
     
}

.btn-menu-dashboard{
    display: flex;
    justify-content: center;
}

.user{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(to bottom, gray, white); 
    margin-left: 10rem;
     
}

.user i{
    background-color: var(--white-color);
    border: solid var(--orange2-color);
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 16px ;
    margin-right: 10px;
}

.box-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.box-2 h1{
    text-align: center;
    color: var(--orange2-color);
    font-weight: 500;
    font-size: 30px;
}

.search{
    text-align: center;
}

.form-doc{
    background-color: transparent;
    border-bottom: solid var(--blue-color);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-right: 15px;
    font-size: 12px;
}

.search i{
    background-color: var(--blue-color);
    color: var(--white-color);
    border: solid rgb(55, 185, 236);
    border-radius: 8%;
    padding: 3px 8px;
    font-size: 16px ;
    margin-right: 10px;
}
.img-forja1{
    text-align: end;
    opacity: 30%;
    transform: rotate(10deg);
    position: relative; bottom: 10px;
    margin-right: 10px;   
}

.franja2{
    width: 100%;
}
    
.franja2 img{
    width: 100%;
}

@media screen and (min-width: 768px){

    #dashboard{
        width: 100%; 
    }
    
    .box{
        height: 23rem;
    }
    
    .logo2 img{
        width: 100%;
        max-width: 230px;
        margin-top: 30px;
    }
    
    .btn-dash{
        width: 450px;
        height: 60px;
        font-size: 18px;
        background-color: #cfcfcf;
    }

    .btn-dash i{
        color:var(--blue-color);
        font-size: 18px;  
    }
    
    

    .user{
        width: 180px;
        height: 50px;
        margin-left: 35rem;
         
    }
     
    .box-2 h1{
        margin-top: 5rem;
        font-size: 33px;
    }
    

    
    .form-doc{
        width: 250px;
        height: 30px;
        font-size: 14px;
    }
    
    .search i{
        padding: 5px 10px;
        font-size: 16px ;
        margin-right: 10px;
    }
    .img-forja1{
        position: relative; bottom: 40px;
        margin-right: 10px;   
    }
}


    @media screen and (min-width: 1024px){

    #dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.863);   
}
    
    .box{
        flex-direction: row;
        flex-basis: 20%;
        background-color: var(--blue4-color);
        height: 100vh;
    }
    
    .logo2 img{
        width: 100%;
        max-width: 210px;
        display: flex;
        margin: 0.5rem auto;
        margin-top: 4rem;
    }
    
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        padding-top: 8rem;
    }
    
    .btn-dash{
        width: 300px;
        height: 55px;
        margin-top: 15px;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid var(--orange2-color);
        border-radius: 10px;
        font-weight: 500;
        font-size: 17px;
        background-color: #cfcfcf;
    }
    
    .btn-dash i{
        color:var(--blue-color);
        font-size: 17px;  
    }
    
    .btn-dash:hover{
        color: var(--white-color);
        background-color:var(--orange2-color);
        cursor: pointer;
    }
    
    .btn-menu-dashboard{
        display: flex;
        justify-content: center;
    }
    
    .user{
        width: 180px;
        height: 50px;
        display: flex;
        justify-content:center;
        align-items: center;
        background: linear-gradient(to bottom, gray, white); 
        margin-left: 31rem;
         
    }
    
    .user i{
        background-color: var(--white-color);
        border: solid var(--orange2-color);
        border-radius: 50%;
        padding: 5px 6px;
        font-size: 16px ;
        margin-right: 10px;
    }
    
    .box-2{
        width: 100%;
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
    }
    
    .box-2 h1{
        text-align: center;
        color: var(--orange2-color);
        font-weight: 500;
        font-size: 35px;
    }
    
    .search{
        text-align: center;
    }
    
    .form-doc{
        background-color: transparent;
        border-bottom: solid var(--blue-color);
        border-top: none;
        border-left: none;
        border-right: none;
        width: 300px;
        height: 30px;
        text-align: center;
        margin-top: 50px;
        margin-right: 15px;
        font-size: 14px;
    }
    
    .search i{
        background-color: var(--blue-color);
        color: var(--white-color);
        border: solid rgb(55, 185, 236);
        border-radius: 8%;
        padding: 5px 10px;
        font-size: 16px ;
        margin-right: 10px;
    }
    .img-forja1{
        text-align: end;
        opacity: 30%;
        transform: rotate(10deg);
        position: relative; top: 5rem;
        margin-right: 10px;   
    }
    
    .franja2{
        width: 100%;
    }
        
    .franja2 img{
        width: 100%;
    }

}

@media screen and (min-width: 1200px){

    #dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.863);   
}
    
    .box{
        flex-direction: row;
        flex-basis: 20%;
        background-color: var(--blue4-color);
        height: 120vh;
    }
    
    .logo2 img{
        width: 100%;
        max-width: 210px;
        display: flex;
        margin: 0.5rem auto;
        margin-top: 4rem;
    }
    
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        padding-top: 8rem;
    }
    
    .btn-dash{
        width: 300px;
        height: 60px;
        margin-top: 15px;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid var(--orange2-color);
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        background-color: #cfcfcf;
    }
    
    .btn-dash i{
        color:var(--blue-color);
        font-size: 18px;  
    }
    
    .btn-dash:hover{
        color: var(--white-color);
        background-color:var(--orange2-color);
        cursor: pointer;
    }
    
    .btn-menu-dashboard{
        display: flex;
        justify-content: center;
    }
    
    .user{
        width: 180px;
        height: 50px;
        display: flex;
        justify-content:center;
        align-items: center;
        background: linear-gradient(to bottom, gray, white); 
        margin-left: 50rem;
         
    }
    
    .user i{
        background-color: var(--white-color);
        border: solid var(--orange2-color);
        border-radius: 50%;
        padding: 5px 6px;
        font-size: 16px ;
        margin-right: 10px;
    }
    
    .box-2{
        width: 100%;
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
    }
    
    .box-2 h1{
        text-align: center;
        color: var(--orange2-color);
        font-weight: 500;
        font-size: 40px;
    }
    
    .search{
        text-align: center;
    }
    
    .form-doc{
        background-color: transparent;
        border-bottom: solid var(--blue-color);
        border-top: none;
        border-left: none;
        border-right: none;
        width: 300px;
        height: 40px;
        text-align: center;
        margin-top: 50px;
        margin-right: 15px;
        font-size: 16px;
    }
    
    .search i{
        background-color: var(--blue-color);
        color: var(--white-color);
        border: solid rgb(55, 185, 236);
        border-radius: 8%;
        padding: 7px 15px;
        font-size: 17px ;
        margin-right: 10px;
    }
    .img-forja1{
        text-align: end;
        opacity: 30%;
        transform: rotate(10deg);
        position: relative; bottom: 10px;
        margin-right: 10px;   
    }
    
    .franja2{
        width: 100%;
    }
        
    .franja2 img{
        width: 100%;
    }


}


/*-------------Pacientes-----------*/
.contenedor{
    padding: 1rem;
}

.forja_head{
    background-color: rgb(43, 43, 44);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.forja_head img{
    width: 200px;
    height: 60px;
    margin: 5px;
}


.forja_head i{
    font-size: 15px;
    color: var(--black-color);
    background-color: rgb(204, 202, 202);
    border-radius: 50%;
    border: solid var(--blue2-color);
    padding: 6px 8px;
    margin-right: 10px;
}

.franja3 img{
    width: 100%;
    border-bottom: 4px solid var(--blue2-color);
    
}

.buttons_pacientes{
    display: flex;
    flex-direction: row;
    padding: 1rem;

}

.btn_table{
    width: 75px;
    height: 30px;
    font-size:10px;
    font-weight: 600;
    background-color: var(--orange2-color);
    border-radius: 10px;
    color: var(--white-color);
    border: solid var(--orange2-color);
    margin-right: 10px;
    cursor: pointer;
}



.btn_table i{
    font-size: 15px;
    margin-left: 5px;
}

.search_2 input{
    font-size: 12px;
}

.search_2 i{
    font-size: 12px;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 3px 8px;
    border: solid var(--blue3-color);
    border-radius: 8px;
}

.text_pacientes{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: var(--blue-color);
    text-decoration: var(--blue2-color) underline; 
}
    
    
.text_pacientes:hover{
    animation: 1s text_pacientes 1;
    transform-origin: top center;
}   
    
    
    @keyframes text_pacientes{
    20%{
        transform: rotate(15deg);
    }
    
    40%{
        transform: rotate(-10deg);
    }
    
    60%{
        transform: rotate(5deg);
    }
    80%{
        transform: rotate(3deg);
    }
    }
    


.table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.big-contenedor{
    margin: auto;
    display: table;
}

.table tr{
    background-color: var(--silver2-color)

}

.table th, .table td{
    font-size: 16px;
    padding: 0.7rem;
    text-align: center;
    border: 1px solid var(--blue2-color)

}

.table thead th{
    background-color: var(--blue4-color);
    color:var(--white-color);
    text-align: center;
}

.table caption{
    font-size: 25px;
}

.table thead{
    display: none;
}

.table tr{
    display: block;
    margin-bottom: 1rem;
}

.table td{
    display: block;
    text-align: right;
}

.table td::before{
    content: attr(data-titulo);
    font-weight: 600;
    float: left;
}


.btn2table{
    background-color: var(--blue3-color);
    width: 90px;
    height: 25px;
    border-radius: 5px;
    border: solid var(--blue3-color);
    font-weight: 500;
    padding-bottom: 1.5rem;
    margin-right: 8px;
}

.btn2table i{
    margin-left: 5px;
}

.btn3_table{
    background-color: var(--red-color);
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: solid var(--red-color);
    font-weight: 500;
    color: var(--white-color);
    padding-bottom: 1.5rem;
}

.btn3_table i{
    margin-left: 5px;
}

.foot_2{
    padding: 1rem;
    font-size: 12px;
}


@media screen and (min-width: 768px){

    .buttons_pacientes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    
    }
    
    .btn_table{
        width: 90px;
        height: 30px;
        font-size:12px;
        font-weight: 600;
        background-color: var(--orange2-color);
        border-radius: 10px;
        color: var(--white-color);
        border: solid var(--orange2-color);
        margin-right: 10px;
    }
    
    .btn_table i{
        font-size: 15px;
        margin-left: 5px;
    }
    
    .search_2 input{
        font-size: 14px;
    }
    
    .search_2 i{
        font-size: 14px;
        color: var(--white-color);
        background-color: var(--blue-color);
        padding: 5px 10px;
        border: solid var(--blue3-color);
        border-radius: 8px;
    }
    

}

@media screen and (min-width: 1024px){
    .table{
        margin-bottom: 5rem;
    }

    .table th, .table td{
        font-size: 16px;
        padding: 0.7rem;
        text-align: center;
    
    }
    
    .table thead th{
        width: 100%;
    }
    
    .table thead{
        display: initial;
        width: 100%;
    }
    
    .table tr{
        display: flex;
        margin-bottom: 0rem;
        text-align: center;
    }
    
    .table td{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;

    }
    
    .table td::before{
        content: attr(none);
        float: none;
    }
}

@media screen and (min-width: 1200px){


    .forja_head i{
        font-size: 20px;
        color: var(--black-color);
        background-color: rgb(204, 202, 202);
        border-radius: 50%;
        border: solid var(--blue2-color);
        padding: 8px 8px;
        margin-right: 10px;
    }

    .text_pacientes{
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        color: var(--blue-color);
        text-decoration: var(--blue2-color) underline; 
    }

    .table{
        margin-bottom: 50px;
       
    }

    .table th, .table td{
        font-size: 18px;
        padding: 0.7rem;
        text-align: center;
    
    }
    
    .table thead th{
        width: 100%;
    }
    
    .table thead{
        display: initial;
        width: 100%;
    }
    
    .table tr{
        display: flex;
        margin-bottom: 0rem;
        text-align: center;
    }
    
    .table td{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;

    }
    
    .table td::before{
        content: attr(none);
        float: none;
    }

    .buttons_pacientes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    
    }
    
    .btn_table{
        width: 100px;
        height: 32px;
        font-size:13px;
        font-weight: 600;
        background-color: var(--orange2-color);
        border-radius: 10px;
        color: var(--white-color);
        border: solid var(--orange2-color);
        margin-right: 10px;
        cursor: pointer;
    }
    
    .btn_table i{
        font-size: 14px;
        margin-left: 5px;
    }
    
    .search_2 input{
        font-size: 16px;
    }
    
    .search_2 i{
        font-size: 14px;
        color: var(--white-color);
        background-color: var(--blue-color);
        padding: 5px 10px;
        border: solid var(--blue3-color);
        border-radius: 8px;
    }
    

}



/*-----------Formulario------------*/

#new_user{
    display: flex;
    padding: 10px;
    flex-direction: column;
    
}

.tittle_registrer_form{
    border: solid var(--blue-color);
    display: flex;
    margin: 30px 30px;
    margin-bottom: 25px;
    justify-content: center;
    background-color: var(--blue-color);
    border-radius: 10px;
    color: var(--white-color);
    font-weight: 300;
    font-size: 20px;
}

.registrer_form{
    background-color: var(--silver2-color);
    border: 2px solid var(--silver-color);
    border-radius: 10px;
   
}

.form_border{
    border: 2px solid var(--silver-color);
    padding: 0.4rem;
    margin-bottom: 1rem;

}

.data_date input{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 130px;
    height: 25px;
    color: var(--silver-color);
    font-size: 10px;
    margin-top: 1rem;
    padding-left: 8px;   
}

.tittle_data{
    font-size: 10px;
    background-color: var(--blue3-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.8rem 0;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid var(--blue2-color);  
}

.tittle_data h2{
    font-size: 13px;
    font-weight: 500;
    color: var(--white-color);
    margin: 0.3rem auto;
}

.tittle_data i{
    margin-left: 1.5rem;
    font-size: 12px;
    
}

.data_patient input{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 220px;
    height: 25px;
    margin: 5px;
    margin-left: 30px;
    color: var(--silver-color);
    font-size: 10px;
    padding-left: 8px;


}

.data_patient select{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 220px;
    height: 25px;
    margin: 5px;
    margin-left: 30px;
    color: var(--silver-color);
    font-size: 10px;
    padding-left: 10px;
}

.data2_patient select{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 220px;
    height: 25px;
    margin: 5px;
    color: var(--silver-color);
    font-size: 10px;
    margin-right: 20px;
    padding-left: 8px; 
}

.data2_patient input{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 220px;
    height: 25px;
    margin: 5px;
    color: var(--silver-color);
    font-size: 10px;
  
}

.text_prueba{
    font-size: 15px;
    color: var(--silver3-color);
}

.test-covid{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 20px 20px;
    align-items: center;
}

.test-covid input{
    margin: 10px;
}

.btn_save{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.btn_save button{
    font-size: 12px;
    width: 80px;
    height: 30px;
    background-color: var(--orange2-color);
    border-radius: 10px;
    border: solid var(--orange2-color);
}

.btn_save a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;


}

@media screen and (min-width: 768px){

    #new_user{
        display: flex;
        padding: 10px;
        flex-direction: column;
        
    }
    
    .tittle_registrer_form{
        font-size: 22px;
    }
    
    .registrer_form{
        background-color: var(--silver2-color);
        border: 2px solid var(--silver-color);
        border-radius: 12px;
       
    }
    
    .form_border{
        border: 2px solid var(--silver-color);
        padding: 1rem;
        margin-bottom: 3rem;
    
    }
    
    .data_date input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 200px;
        height: 25px;
        color: var(--silver-color);
        font-size: 10px;
        margin-top: 1rem;
        margin-left: 2rem;
        padding-left: 8px;  
         
    }
    
    .tittle_data{
        font-size: 13px;
        background-color: var(--blue3-color);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 0;
        padding: 2px;
        border-radius: 5px;
        border: 2px solid var(--blue2-color);  
    }
    
    .tittle_data h2{
        font-size: 14px;
        font-weight: 500;
        color: var(--white-color);
        margin: 0.2rem auto;
    }
    
    .tittle_data i{
        margin-left: 1.5rem;
        font-size: 12px;
        
    }
    
    .data_patient input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 300px;
        height: 25px;
        margin: 5px;
        margin-left: 30px;
        color: var(--silver-color);
        font-size: 10px;
        padding-left: 8px;
    
    
    }
    
    .data_patient select{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 300px;
        height: 25px;
        margin: 5px;
        margin-left: 30px;
        color: var(--silver-color);
        font-size: 10px;
        padding-left: 10px;
    }
    
    .data2_patient select{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 200px;
        height: 25px;
        margin: 5px;
        color: var(--silver-color);
        font-size: 10px;
        margin-right: 20px;
        padding-left: 8px; 
    }
    
    .data2_patient input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 200px;
        height: 25px;
        margin: 5px;
        color: var(--silver-color);
        font-size: 10px;
      
    }
    
    .text_prueba{
        font-size: 15px;
        color: var(--silver3-color);
    }
    
    .test-covid{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 20px 20px;
        align-items: center;
    }
    
    .test-covid input{
        margin: 10px;
    }
    
    .btn_save{
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .btn_save button{
        font-size: 12px;
        width: 80px;
        height: 30px;
        background-color: var(--orange2-color);
        border-radius: 10px;
        border: solid var(--orange2-color);
    }
    
    .btn_save a{
        text-decoration: none;
        color: var(--white-color);
        font-weight: 400;
    
    
    }
}


@media screen and (min-width: 1024px){

    #new_user{
        display: flex;
        padding: 10px;
        flex-direction: column;
        
    }
    
    .tittle_registrer_form{
        font-size: 25px;
    }
    
    .registrer_form{
        background-color: var(--silver2-color);
        border: 2px solid var(--silver-color);
        border-radius: 12px;
       
    }
    
    .form_border{
        border: 2px solid var(--silver-color);
        padding: 2rem;
        margin-bottom: 3rem;
    
    }
    
    .data_date input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 250px;
        height: 30px;
        color: var(--silver-color);
        font-size: 13px;
        margin-top: 1rem;
        margin-left: 2rem;
        padding-left: 8px;  
         
    }
    
    .tittle_data{
        font-size: 13px;
        background-color: var(--blue3-color);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 0;
        padding: 2px;
        border-radius: 5px;
        border: 2px solid var(--blue2-color);  
    }
    
    .tittle_data h2{
        font-size: 15px;
        font-weight: 500;
        color: var(--white-color);
        margin: 0.2rem auto;
    }
    
    .tittle_data i{
        margin-left: 1.5rem;
        font-size: 15px;
        
    }
    
    .data_patient input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 400px;
        height: 30px;
        margin: 5px;
        margin-left: 30px;
        color: var(--silver-color);
        font-size: 13px;
        padding-left: 8px;
    
    
    }
    
    .data_patient select{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 400px;
        height: 30px;
        margin: 5px;
        margin-left: 30px;
        color: var(--silver-color);
        font-size: 13px;
        padding-left: 10px;
    }
    
    .data2_patient select{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 400px;
        height: 30px;
        margin: 5px;
        color: var(--silver-color);
        font-size: 13px;
        margin-right: 20px;
        padding-left: 8px; 
    }
    
    .data2_patient input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 200px;
        height: 25px;
        margin: 5px;
        color: var(--silver-color);
        font-size: 10px;
      
    }
    
    .text_prueba{
        font-size: 15px;
        color: var(--silver3-color);
    }
    
    .test-covid{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 20px 20px;
        align-items: center;
    }
    
    .test-covid input{
        margin: 10px;
    }
    
    .btn_save{
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .btn_save button{
        font-size: 15px;
        width: 100px;
        height: 40px;
        background-color: var(--orange2-color);
        border-radius: 10px;
        border: solid var(--orange2-color);
    }
    
    .btn_save a{
        text-decoration: none;
        color: var(--white-color);
        font-weight: 400;
    
    
    }
}

@media screen and (min-width: 1200px){

    #new_user{
        display: flex;
        padding: 10px;
        flex-direction: column;
        
    }
    
    .tittle_registrer_form{
        font-size: 30px;
    }
    
    .registrer_form{
        background-color: var(--silver2-color);
        border: 2px solid var(--silver-color);
        border-radius: 12px;
       
    }
    
    .form_border{
        border: 2px solid var(--silver-color);
        padding: 2rem;
        margin-bottom: 3rem;
    
    }
    
    .data_date input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 250px;
        height: 35px;
        color: var(--silver-color);
        font-size: 15px;
        margin-top: 1rem;
        margin-left: 6rem;
        padding-left: 8px;  
         
    }
    
    .tittle_data{
        font-size: 15px;
        background-color: var(--blue3-color);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 2rem 0;
        margin-left: 20px;
        margin-right: 20px;
        padding: 3px;
        border-radius: 5px;
        border: 2px solid var(--blue2-color);  
    }
    
    .tittle_data h2{
        font-size: 15px;
        font-weight: 500;
        color: var(--white-color);
        margin: 0.2rem auto;
    }
    
    .tittle_data i{
        margin-left: 1.5rem;
        font-size: 16px;
        
    }
    
    .data_patient input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 400px;
        height: 35px;
        margin: 5px;
        margin-left: 6rem;
        color: var(--silver-color);
        font-size: 15px;
        padding-left: 8px;
    
    
    }
    
    .data_patient select{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 400px;
        height: 35px;
        margin: 5px;
        margin-left: 6rem;
        color: var(--silver-color);
        font-size: 15px;
        padding-left: 10px;
    }
    
    .data2_patient select{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 400px;
        height: 30px;
        margin: 5px;
        color: var(--silver-color);
        font-size: 15px;
        margin-right: 20px;
        padding-left: 3rem; 
    }
    
    .data2_patient input{
        border: 2px solid var(--blue3-color);
        border-radius: 5px;
        width: 220px;
        height: 25px;
        margin: 5px;
        color: var(--silver-color);
        font-size: 15px;
      
    }
    
    .text_prueba{
        font-size: 15px;
        color: var(--silver3-color);
    }
    
    .test-covid{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 20px 20px;
        align-items: center;
    }
    
    .test-covid input{
        margin: 10px;
    }
    
    .btn_save{
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .btn_save button{
        font-size: 15px;
        width: 100px;
        height: 40px;
        background-color: var(--orange2-color);
        border-radius: 10px;
        border: solid var(--orange2-color);
    }
    
    .btn_save a{
        text-decoration: none;
        color: var(--white-color);
        font-weight: 400;
    
    }
    .btn_save:hover{
        color: var(--white-color);
        background-color:var(--orange2-color);
        animation: 3s btn_save 1;
    }
    
    
    @keyframes btn_save{
        25%, 50%{
            transform: scale(0.8);
        }
    
        50%{
            transform: scale(1.1);
        }
    }
    
}




